/* Base Styles */

* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    position: relative;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

#box1,
#box2,
#box3 {
    position: relative;
    background-color: grey;
    border: 1px solid black;
    height: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.description {
    background-color: grey;
    height: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.foods {
    font-weight: bold;
    width: 100px;
    height: 25px;
    margin: 0;
    text-align: center;
    background-color: pink;
    border: 1px solid black;
    float: right;
    clear: left;
}

#food1 {
    background-color: cornflowerblue;
}

#food2 {
    background-color: chartreuse;
}

#food3 {
    background-color: pink;
}


/* Desktop Styles */

@media (min-width: 992px) {
    #box1,
    #box2,
    #box3 {
        width: 95%;
    }
    .description {
        font-size: 125%;
    }
    .foods {
        font-size: 125%;
    }
    .col-lg-4 {
        position: relative;
        float: left;
        width: 33.33%;
    }
}


/* Tablet Styles */

@media (min-width:768px) and (max-width:991px) {
    #box1 {
        margin-left: 0;
        width: 97%;
    }
    #box2 {
        width: 97%;
        float: right;
    }
    #box3 {
        height: 200px;
        width: 100%;
    }
    .description {
        font-size: 150%;
    }
    .foods {
        font-size: 150%;
    }
    .col-md-4 {
        position: relative;
        float: left;
        width: 50%;
    }
    .col-md-12 {
        position: relative;
        float: left;
        width: 100%;
    }
}


/* Mobile Styles */

@media (max-width: 767px) {
    #box1,
    #box2,
    #box3 {
        width: 95%;
        height: 300px;
    }
    .description {
        font-size: 175%;
    }
    .foods {
        font-size: 175%;
        height: 35px;
    }
    .col-sd-12 {
        position: relative;
        float: left;
        width: 100%;
    }
}